/* Regole generali della pagina */
 * {
   box-sizing: border-box;
   margin: 0;
}
body {
  background-color: #ebebeb;
  font-family: 'Monsterrat', sans-serif;
}
p {
  color: grey;
  font-size: 12pt;
}
/* Regole corpo pagina */
header {
    background-color: white;
    width: 60%;
    height: 13vh;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
img[src="img/logo.png"] {
  width: 140px;
  height: 60px;
  margin: 10px 0 0 10px;
}
nav {
  margin-top: 5px;
  margin-left: 50px;
}
li {
  display: inline;
}
a {
  text-decoration: none;
  color: grey;
}
.textintoimage {
  position: absolute;
  color: white;
  margin-top: 180px;
  margin-left: 30px;
  color: #a1a1a1;
}
#expansive {
  font-size: 20pt;
  font-weight: bold;
}
#cheap {
  line-height: 150px;
}
#firstdiv {
  /* background-image: url("../img/banner.jpg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat; */
  width: 60%;
  height: 32vh;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

}
img[src="img/banner.jpg"] {
  width: 100%;
  height: 32vh;
  border-radius: 20px;
  object-fit: cover;
}
#all {
  content: "";
  display: table;
  clear: both;
  width: 60%;
  height: 35vh;
  margin: 0 auto;
}
.specs {
  width: 20%;
  height: auto;
}
#boxsup {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
}
#text {
  font-size: 12px;
  color: grey;
}
#dx {
  float: left;
}
img[src="img/img-1.jpg"] {
  width: 200px;
  height: 170px;
  margin-left: 5px;
  border-radius: 20px;
  object-fit: cover;
}
#center {
  float: left;
  width: 50%;
  height: auto;
  margin: 0 5% 0 5%;
}
img[src="img/banner-2.jpg"] {
  width: 100%;
  height: 170px;
  border-radius: 20px;
  object-fit: cover;
}
#sx {
  float: left;
}
img[src="img/img-3.jpg"] {
  width: 230px;
  height: 170px;
  border-radius: 20px;
}
footer {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  margin-top: 10px;
}
#footext {
  line-height: 100px;
  text-align: center;
}
#hearth {
  color: red;
}
